<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>tabs</title>
  <link rel="stylesheet" href="tabs.css">
</head>
<body>
  <div class="tabs xxx">
    <ul>
      <li>tab1</li>
      <li>tab2</li>
      <li>tab3</li>
    </ul>
    <div class="tabs-content">
      <div>文字内容1</div>
      <div>文字内容2</div>
      <div>文字内容3</div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="tabs.js"></script>
  <script src="tabsShow.js"></script>
</body>
</html>