@font-face {
  font-family: Nexa-Heavy;
  src: url('../font/Nexa-Heavy.ttf');
}
@font-face {
  font-family: Nexa-Regular;
  src: url('../font/Nexa-Regular.ttf');
}
@font-face {
  font-family: Nexa-Bold;
  src: url('../font/Nexa-Bold.ttf');
}